body {
  width: auto;
  width: 80%;
  margin: 30px 90px 30px 90px;
  font-family: 'Bitter', serif;
  font-family: 'Anton', sans-serif;
}

header {
  height: 100px;
  background-color: #444;
  width: 1080px;
}

li {
  list-style-type: none;
}

nav {
  height: 70px;
}

nav img {
  display: inline-block;
}

.navi {
  display: inline-block;
  vertical-align: top;
}

nav li {
  display: inline-block;
  line-height: 70px;
  padding: 0 45px;
}

ul img {
  height: 250px;
  width: 250px;
}

.container {
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

#divbox {
  float: left;
  clear: left;
  height: 365px;
  width: 137px;
}

button {
  height: auto;
  width: auto;
  padding: 15px 32px;
  font-family: 'Bitter', serif;
  font-family: 'Anton', sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#button-one {
  color: white;
  background-color: red;
}

#button-two {
  color: black;
  background-color: white;
}

#button-three {
  color: white;
  background-color: blue;
}

.flexdiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ulitems {
  flex-grow: 1;
}

footer {
  height: 100px;
  background-color: rgb(0, 180, 255);
  width: 1080px;
  margin-top: 20px;
}

footer ul {
  width: fit-content;
  margin: auto;
  padding: 10px;
}